.head-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../../styles/images/produce-background.jpg");
    height: 20em;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0 gray;
}

h1 {
    color: white;

}