.header {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header * {
    display: flex;
    justify-content: center;
}

.header-links  {
    display: flex;
    height: 4rem;  
    
      
}

.link {
    font-size: 1rem;
    font-weight:500;
    text-decoration: none;
    color: rgb(255, 255, 255);

    border-radius: 0.5rem;
    padding: 1em 2em;
    text-decoration: underline;
}