.cart-page {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 4em 2em;

}

.cart-page h1 {
    color: black !important;
    margin: 0;
    margin-bottom: 1em;
}

.payment form{
    display: inline-flex;
    flex-direction: column;
}