


.item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    background-color: bisque;
    margin: 0.5em;
    width: 18rem;
    height: 18rem;
}

.item img {
    max-width: 60%;
    height: 60%;
    margin-top: 0.5rem;
}